.main-container{
  margin: 115px auto;
  width: 90vw;
}

.main-container > div{
    margin: 100px 0;
}

.case-header-text{
    margin-top: 150px;
}

body{
    color: var(--black);
}

h1{
    font-size: 4.5em;
    margin-bottom: 30px;
}
h3{
    color: var(--magenta);
}

iframe {
    width: 50vw;
    height: 28vw;
    border-radius: 10px;
}
.wide-img{
    width: 50vw;
}
.long-img{
    width: 30vw;
}
.square-img{
    width: 40vw;
}
.left-aligned {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5vw;
}
.left-aligned > div:last-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-aligned {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5vw;
}
.right-aligned > div:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  /* current default */
  .left-aligned {
    grid-template-columns: 1fr;
  }
  .right-aligned {
    grid-template-columns: 1fr;
  }
  .case-header iframe, img{
    width: 90vw;
    height: 50vw;   
  }
  iframe{
    width: 90vw;
    height: 50vw;
  }
  .wide-img, .long-img, .square-img{
    width: 100%;
  }
  .case-header-text{
    margin-top: 0;
  }
  .main-container > div{
    margin: 50px 0;
  }
}