.main-container > div{
    margin: 100px auto;
}

body{
    color: var(--black);
}

h2{
  margin-bottom: .5em;
}
h3{
  margin-bottom: .5em;
}
p{
  margin-bottom: 2em;
}

.wide-img{
  height: auto;
  width: 100%;
  border-radius: 2em;
}
.square-img{
  height: auto;
  width: 100%;
  border-radius: 2em;
}

img{
  filter: drop-shadow(5px 20px 25px rgba(223, 80, 223, 0.15));
}
.left-aligned {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vw;
}
.left-aligned > div:last-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.middle-aligned {
  width: 55vw;
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  /* current default */
  .left-aligned {
    grid-template-columns: 1fr;
  }
  .middle-aligned {
    width: 100%;
  }
  .case-header iframe, img{
    height: 50vw;   
  }
  iframe{
    width: 85vw;
    height: 50vw;
  }
  .wide-img, .long-img, .square-img{
    width: 100%;
  }
  .main-container{
    margin: 100px 6vw;
    width: 85vw;
  }
  .main-container > div{
    margin: 30px 0;
  }
}